<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: rgb(187, 203, 216);
        }
        
.cover-pic{
    height: 450px;
    width: 450px;
    border-radius: 50%;
}
.nav2-bg { 
    background-color: darkmagenta;
}
    </style>

</head>
<body>
    <div class="fixed-top nav2-bg">
        <nav class="navbar container navbar-expand-lg navbar-light ">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item nav2">
                            <a class="nav-link active text-white fs-5" aria-current="page" href="../View/MainPage.php">Home</a>
                        </li>
                        <li class="nav-item nav2 ms-4">
                            <a class="nav-link active text-white fs-5" href="gallary.html">Gallary</a>
                        </li>
                        <li class="nav-item nav2 ms-4">
                            <a class="nav-link active text-white fs-5" href="restaurant.html">Restaurent</a>
                        </li>
                        <li class="nav-item nav2 ms-4">
                            <a class="nav-link active text-white fs-5" href="education.html">Education</a>
                        </li>
                        <li class="nav-item nav2 ms-4">
                            <a class="nav-link active text-white fs-5" href="stay.html">Stay</a>
                        </li>
                        <li class="nav-item nav2 ms-4">
                            <a class="nav-link active text-white fs-5" href="transportation.html">Transportation</a>
                        </li>
                        <li class="nav-item dropdown nav2 ms-4">
                            <a class="nav-link text-white fs-5 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Manicipality
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="view.html">View</a></li>
                                <li><a class="dropdown-item" href="councilor.html">Councilor</a></li>			
                                <li><a class="dropdown-item" href="Organogram.html">Organogram</a></li>
                            </ul>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <header class="education-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div>
                        <h4 style="font-size: 50px;"> <span style="color: rgb(39, 31, 29);">Good Education System</span></h4>
                        <img src="education1.jpeg" alt="">
                    </div>

                </div>

            </div>

        </div>

    </header>
    <main class="ms-5">
        <div class="school">
            <h4>School:</h4>
               <p><h5><span style="color: rgb(126, 9, 87);">1.Lions School & College</span></h5>
                <p>
                    Address:Saidpur,Nilphamary.<br>
                    Phone:05526-72557<br>
                    Opening hour: Saturday-Thursday->7AM–5PM<br>
                    Closed:Friday<br>
                    <a href="https://lscs.edu.bd/">See More</a>
                </p>
               <h5> <span style="color: rgb(126, 9, 87);">2.Cantonment Public School & College, Saidpur</span></h5>
                <p>
                    Address: Saidpur Cantonment, Saidpur 5310<br>
                    Founded: 1979<br>Phone:01306-169115<br>
                    Opening hour: Saturday-Thursday->7AM–5PM<br>
                    Closed:Friday<br>
                    <a href="http://www.cpscs.edu.bd/">See More</a>

                </p>
                <h5> <span style="color: rgb(126, 9, 87);">3.International School Saidpur</span></h5>
                <p>
                    Address: Dhaka - Rangpur Hwy, Saidpur<br>
                    Phone:01727-002930<br>
                    Opening hour: Saturday-Thursday->8AM–7PM<br>
                    Closed:Friday<br>
                    <a href=https://internationalschoolsaidpur.edu.bd>See More</a>
                </p>

            </p>

        </div>
        <div class="College">
            <h4>College:</h4>
            <p><h5><span style="color: rgb(126, 9, 87);">1.Cantonment Public School and College Saidpur, Boys Hostel</span></h5>
                <p>
                    Address:Saidpur Cantonment-5311,Saidpur<br>
                    Phone:Accounts Office      : 01306169114<br>
                          Section Office         : 01306169115<br>
                         Office Super        : 01708358061/Tel : 0552672318<br>
                    
                    <a href="http://www.cpscs.edu.bd/">See More</a>
                </p>
                <p><h5><span style="color: rgb(126, 9, 87);">2.Saidpur government Collage</span></h5>
                    <p>
                        Address:Saidpur<br>
                        Phone:01718-646893<br>
                        Opening hour: Saturday-Thursday->9AM–4PM<br>
                        Closed:Friday<br>
                        <a href="https://saidpurcollege.gov.bd/">See More</a>
                    </p>
                    <p><h5><span style="color: rgb(126, 9, 87);">3.Saidpur Government Science College</span></h5>
                        <p>
                            Address:Airport road, Saidpur<br>
                            Phone:+880552672240<br>
                            Opening hour: Saturday-Thursday<br>
                            Closed:Friday<br>
                            <a href="https://sgtc.gov.bd/">See More</a>
                        </p>    
         </div>
         <div class="University">
            <h4>University:</h4>
            <p><h5><span style="color: rgb(126, 9, 87);">1.Bangladesh Army University of Science & Technology</span></h5>
                <p>
                    Address:Saidpur Cantonment,Saidpur<br>
                    Phone:05526-73403<br>
                    Opening hour: Sundayday-Thursday->8AM–2PM<br>
                    Closed:Friday & Saturday<br>
                    <a href="http://www.baust.edu.bd/">See More</a>
                </p>
                <p><h5><span style="color: rgb(126, 9, 87);">2.Saidpur University</span></h5>
                    <p>
                        Address:Saidpur, Nilphamari <br>
                        Founded: 1953<br>
                        Affiliations: National University, Bangladesh <br>
                
                    </p>
         </div>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
    </head>
    </html>