.menu-bar{
    display: none;
}

@media screen and (max-width:688px) {
    .player{
        grid-template-columns: repeat(1, 1fr);
        
        justify-content: center;
    }
    
  .menu-item{
      display: none;
  }
  .menu-bar{
      display: block;
  }
}