

/* .food-header{
    background-color: antiquewhite;
} */
.cover-pic{
    height: 450px;
    width: 450px;
    border-radius: 50%;
}
.nav2-bg { 
    background-color: darkmagenta;
}

/* .food-time{
    margin-top: 100px;
} */

/* .sub-logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;

} */
