<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportation</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: rgb(212, 148, 148);
        }

        th,
        td {
            border: 1px solid black;
            border-radius: 500px;
        }

        .cover-pic {
            height: 450px;
            width: 450px;
            border-radius: 50%;
        }

        .nav2-bg {
            background-color: darkmagenta;

        }
    </style>

</head>

<body>
    <div class="nav2-bg fixed-top">
        <nav class="navbar container navbar-expand-lg navbar-light ">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item nav2">
                            <a class="nav-link active text-white fs-5" aria-current="page" href="../View/MainPage.php">Home</a>
                        </li>
                        <li class="nav-item nav2 ms-4">
                            <a class="nav-link active text-white fs-5" href="gallary.html">Gallary</a>
                        </li>
                        <li class="nav-item nav2 ms-4">
                            <a class="nav-link active text-white fs-5" href="restaurant.html">Restaurent</a>
                        </li>
                        <li class="nav-item nav2 ms-4">
                            <a class="nav-link active text-white fs-5" href="education.html">Education</a>
                        </li>
                        <li class="nav-item nav2 ms-4">
                            <a class="nav-link active text-white fs-5" href="stay.html">Stay</a>
                        </li>
                        <li class="nav-item nav2 ms-4">
                            <a class="nav-link active text-white fs-5" href="transportation.html">Transportation</a>
                        </li>
                        <li class="nav-item dropdown nav2 ms-4">
                            <a class="nav-link text-white fs-5 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Manicipality
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="view.html">View</a></li>
                                <li><a class="dropdown-item" href="councilor.html">Councilor</a></li>			
                                <li><a class="dropdown-item" href="Organogram.html">Organogram</a></li>
                            </ul>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </div>

    </header>
    <main>
        <section>
            <div class="container">
                <div style="margin-top: 100px;">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-4">
                                <img class="img-fluid d-flex align-items-center m-auto h-75 w-75 rounded-circle"
                                    src="bus-terminal.jpeg" alt="">
                            </div>

                            <div style="text-align: center;">
                                <h2>Bus Terminal</h2>

                                <p>Contacts</p>
                                <table style="width:100%">
                                    <tr>
                                        <th>Address</th>
                                        <th> Rangpur - Dinajpur Hwy Saidpur</th>

                                    </tr>
                                    <tr>
                                        <td>Category</td>
                                        <td>Transport</td>

                                    </tr>
                                    <td>Location</td>
                                    <td>Saidpur Upazila</td>
                                    </tr>

                                </table>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <img class="img-fluid d-flex align-items-center m-auto h-75 w-75 rounded-circle"
                                    src="airport.jpg" alt="">
                            </div>

                            <div style="text-align: center">
                                <h2>Airport</h2>
                                <p>Contacts</p>
                                <table style="width:100%">
                                    <tr>
                                        <th>Address</th>
                                        <th> Cantoment Rd, Saidpur 5310 </th>

                                    </tr>
                                    <tr>
                                        <td>Category</td>
                                        <td>Transport</td>

                                    </tr>
                                    <td>Location</td>
                                    <td>Saidpur Upazila</td>
                                    </tr>

                                </table>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="mb-3">
                                <img class="img-fluid d-flex align-items-center m-auto h-75 w-75 rounded-circle"
                                    src="rail.jpeg" alt="">
                            </div>

                            <div style="text-align: center">
                                <h2>Railway Station</h2>
                                <p>Contacts</p>
                                <table style="width:100%">
                                    <tr>
                                        <th>Address</th>
                                        <th>Saidpur</th>

                                    </tr>
                                    <tr>
                                        <td>Category</td>
                                        <td>Transport</td>

                                    </tr>
                                    <td>Location</td>
                                    <td>Saidpur Upazila</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <main class="ms-5 mt-5">
            <h2>1.Bus Terminal,Saidpur</h2><br>
            <h3>About</h3>
            <p>Saidpur bus terminal situated by Saidpur Bypass, Saidpur 5310, Bangladesh.It works as travel agency.<br>
                <b> It Not so busy bus terminal and no any platform for passenger.</b><br>
                <a href="https://www.nilphamari.info/item/saidpur-bus-terminal/">See More</a>
            </p>
            <h2>2.Airport,Saidpur</h2><br>
            <h3>About</h3>
            <p>Saidpur Airport started its journey as a domestic airport in 1979. This airport is situated on a total of
                136.59 acres ofland. Saidpur Airport is managed by the Civil Aviation Authority of Bangladesh. This
                Airport is located at2 km from Saidpur town and 350km from Dhaka, the capital city of Bangladesh.
                <br>IATA CODE: SPD<br>
                ICAO ID: VGSD<br>
                <a href="http://www.caab.gov.bd/airports/saidpur.html">See More</a>
            </p>
            <h2>3.Railway Station,Saidpur</h2><br>
            <h3>About</h3>
            <p>
                The Saidpur railway station, the oldest one in the country, is gradually losing its attraction to the
                passengers as it cannot cater to the need of the commuters for comfortable journey. The railway station
                is in grip of various problems that stand in the way of rendering best service to the passengers.<br>

                <a href="https://www.nilphamari.info/item/saidpur-railway-station/">See More</a>
            </p>
        </main>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</head>

</html>